// chat bg
html[dir] ._1GX8_,
._1-iDe.Wu52Z {
    // background-color: $dark-4 !important;
}

// chat header
html[dir] ._2y17h{
    background-color: $dark-1 !important;
}

// chat header name
._3XrHh{
    color: $white-0 !important;
}

// group memebers / status online
.Gd51Q._3sgkv{
    color: $white-2 !important;
}




// chat bg
._3zJZ2{
    background-color: $dark-2 !important;
}




// div behind chat input
html[dir] ._3pkkz{
    background-color: $dark-3 !important;
}

html[dir] ._1Plpp{
    background-color: $dark-4 !important;
}
._3F6QL ._2S1VP {
    color: $white-0 !important;
}












//
// other
// 

// border header
html ._2y17h{
    border: none !important;
}
html[dir] ._2y17h:after{
    display: none !important;
}

// chat area border
html[dir=ltr] ._3pkkz{
    border: none !important;
}

// border chat input
html[dir] ._1Plpp{
    border: none !important;
}