// default streamer behviour
.tw-tower .cxWlKh {
	opacity: 0.7;
	transition: opacity .2s;

	&:hover {
		opacity: 1;
	}
}

@mixin fav-streamer($color) {
	opacity: 1 !important;

	// live text
	.hwlNix {
		background-color: $color;
	}

	// avatar
	.tw-image-avatar {
		border: 3px solid $color;
	}

	*[data-test-selector='ChannelLink'] {
		color: $color !important;
	}
}

.top-tier { @include fav-streamer(gold) };
.beta-tier { @include fav-streamer(orange) };
.overwatch { @include fav-streamer(darkorange) };
.lol { @include fav-streamer(#68b9ea) };
