.hopp__form {
    $self: &;

    color: white;

    // classes
    &__form-group {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__input-group {
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px;

        svg {
            height: 18px;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    // types
    &__radio {

        &--hidden {
            display: none;
        }

        &:checked + #{$self}__label {
			border-color: $purple;
        }
    }

    &__text {
        border-radius: 6px;
        border: 2px solid transparent;
        padding: 10px 20px; 
        display: block;
        width: 100%;
        background-color: #191919;
        color: inherit;

        &:focus {
            outline: none;
            border-color: #191919;
        }
    }

    &__label {
        display: block;
        padding: 10px 20px; 
        cursor: pointer;
        border-radius: 6px;
        border: 2px solid transparent;
        color: inherit;

        &:hover {
			background-color: #191919;
        }
    }
}