// purple twitch username
.tw-media-card-meta__links div:first-of-type a {
	color: $purple;
}

// purple theatre mode button
*[data-a-target="player-theatre-mode-button"] * {
	fill: $purple !important;
}

// purple mini player button
#bttv-picture-in-picture * {
	fill: $purple !important;
}

// hide chat alert on old player-streaminfo__viewers
.video-chat__header.tw-flex {
	display: none !important;
}

// BTTV emote button
#emote-menu-button {
	opacity: 0.2 !important;
}