.popover {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 6px;
    border: 2px solid #202020;
    background-color: $body-bg;
    max-height: 600px;
    overflow-y: auto;

    display: none;
    z-index: 213890;


    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    // &::-webkit-scrollbar-track {}

    &::-webkit-scrollbar-thumb {
        background-color: #303030;
        border-radius: 10px;
    }

    &[data-show] {
        display: block;
    }
}